body {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dis {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.product-card {
    width: 320px;
    height: 480px;
    background-color: rgb(78, 16, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    overflow: hidden;
    transition: all 200ms ease;
}
.product-card:hover {
    transform: translateY(-10px);
}
.image-holder {
    width: 300px;
    height: 220px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px -2px black;
}
.image-holder img {
    width: auto;
    height: 210px;
}
.information-holder {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: aliceblue;
}
.title {
    font-size: 1.5em;
}
.info {
    width: 85%;
    font-weight: 400;
    
}
.price {
    font-size: 1.2em;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.buttons button {
    outline: none;
    border: 3px solid whitesmoke;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color: transparent;
    color: whitesmoke;
    padding: 5px;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
    font-weight: 600;
}
.buttons button:hover {
    background-color: whitesmoke;
    color: black;
}
.buttons button:active {
    background-color: rgb(209, 209, 209);
    border: 3px solid rgb(209, 209, 209);
}